<head>
  <title>Mikro Component Library</title>
</head>
<body>
  <mikro-box m=2 p=3 bg="lightgray" borderRadius=4 border="1px solid gray">
    Mikro Component Library
  </mikro-box>
  <mikro-styles />
</body>

