<mikro-box
  as="h2"
  tx="text"
  variant="heading"
  ...input
  __css={
    fontSize: 4,
    fontFamily: 'heading',
    fontWeight: 'heading',
    lineHeight: 'heading',
  }
  on-click('emit', 'click') 
/>