<mikro-flex bg="black" width="100vw" color="white" px=4 py=5>
  <mikro-link mr=3 href="/" target="_blank" color="inherit">
    <mikro-text>Home</mikro-text>

  </mikro-link>

  <mikro-link href="https://github.com/Khauri/Mikro" target="_blank" color="inherit">
    <mikro-text>GitHub</mikro-text>

  </mikro-link>

</mikro-flex>