<mikro-flex p=3 align-items="center" justify-content="space-between">
  <mikro-header>Mikro</mikro-header>
  <mikro-box>
    <mikro-link href="https://github.com/Khauri/Mikro" target="_blank">GitHub</mikro-link>
  </mikro-box>
</mikro-flex>